
.grid-container {
    display: grid;
    grid-template-columns: 5em 5em 5em;
    grid-template-rows: 2em 5em 5em 5em 2em;
    padding: 0px;
    justify-content: center;
    text-align: center;
  }

  .grid-item {
    background-color: whitesmoke;
    border: 0.05em solid rgba(0, 0, 0, 0.8);
    padding: 0.5em;
    font-size: 2.25em;
    text-align: center;
  }

header {
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 1.15em;
    background-color: lightslategrey;
    color: whitesmoke;
    text-align: center;
}

footer {
  grid-column-start: 1;
  grid-column-end: 4;
  font-size: 0.85em;
  background-color: lightslategrey;
  color: whitesmoke;
  text-align: center;
}

p {
    text-align: center;
}